In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

In [2]:
cd /content/

/content

In [3]:
cd drive/My\ Drive

/content/drive/My Drive

In [4]:
cd Competition/Analytics\ Vidyha

/content/drive/My Drive/Competition/Analytics Vidyha

In [5]:
cd Innoplexus/

/content/drive/My Drive/Competition/Analytics Vidyha/Innoplexus

In [6]:
import numpy as np
import pandas as pd
import nltk
nltk.download('stopwords')

from nltk import tokenize
nltk.download('punkt')
nltk.download('vader_lexicon')

import re
from nltk.corpus import stopwords
from nltk import word_tokenize
STOPWORDS = set(stopwords.words('english'))
from bs4 import BeautifulSoup


import matplotlib.pyplot as plt
import seaborn as sns

#from collections import defaultdict
#import re
#from bs4 import BeautifulSoup
import sys
import os
#os.environ['KERAS_BACKEND']='theano'

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

In [7]:
# reading data
df = pd.read_csv('train5.csv')
df = df.dropna()
#df = df.reset_index(drop=True)
print('Shape of dataset ',df.shape)
print(df.columns)
print('No. of unique classes',len(set(df['sentiment'])))

Shape of dataset  (5279, 4)
Index(['unique_hash', 'text', 'drug', 'sentiment'], dtype='object')
No. of unique classes 3

In [0]:
df.dropna(inplace=True)

In [9]:
#Text Preprocessing :- 

stop_words = set(nltk.corpus.stopwords.words('english'))
sno = nltk.stem.SnowballStemmer('english')

def cleanpunc(sentence):
    cleaned = re.sub(r"[?|!|\'|\"|#]", r"",sentence)
    cleaned =  re.sub(r"[.|,|)|(|\|/]",r"",cleaned)
    return cleaned.lower()

sentences = df['text'].values
reviews = []
for sent in sentences:
    cleaned_sent = cleanpunc(sent)
    sent_arr = cleaned_sent.split()
    output_sent = ''
    for word in sent_arr:
        if word not in stop_words:
            stemmed_word = sno.stem(word)
            output_sent = output_sent + ' ' + stemmed_word
    reviews.append(output_sent)

reviews_text = pd.DataFrame({'reviews': reviews})
df = pd.concat([df,reviews_text], axis=1)
df.head()

                                unique_hash  ...                                            reviews
0  2e180be4c9214c1f5ab51fd8cc32bc80c9f612e0  ...   autoimmun diseas tend come cluster gilenya – ...
1  9eba8f80e7e20f3a2f48685530748fbfa95943e4  ...   complet understand you'd want tri result repo...
2  fe809672251f6bd0d986e00380f48d047c7e7b76  ...   interest target s1p-15 receptor rather 1-5 li...
3  bd22104dfa9ec80db4099523e03fae7a52735eb6  ...   interest grand merci wonder lemtrada ocrevus ...
4  b227688381f9b25e5b65109dd00f7f895e838249  ...   hi everybodi latest mri result brain cervic c...

[5 rows x 5 columns]

In [0]:
# Preprocessing
REPLACE_BY_SPACE_RE = re.compile('[/(){}\[\]\|@,;]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z #+_]')
STOPWORDS = set(stopwords.words('english'))

def clean_text(text):
    """
        text: a string
        
        return: modified initial string
    """
    text = text.lower() # lowercase text
    text = REPLACE_BY_SPACE_RE.sub(' ', text) # replace REPLACE_BY_SPACE_RE symbols by space in text. substitute the matched string in REPLACE_BY_SPACE_RE with space.
    text = BAD_SYMBOLS_RE.sub('', text) # remove symbols which are in BAD_SYMBOLS_RE from text. substitute the matched string in BAD_SYMBOLS_RE with nothing. 
    text = text.replace('x', '')
#    text = re.sub(r'\W+', '', text)
    text = ' '.join(word for word in text.split() if word not in STOPWORDS) # remove stopwords from text
    return text
df['reviews'] = df['reviews'].apply(clean_text)

In [11]:
df.head()

                                unique_hash  ...                                            reviews
0  2e180be4c9214c1f5ab51fd8cc32bc80c9f612e0  ...  autoimmun diseas tend come cluster gilenya fee...
1  9eba8f80e7e20f3a2f48685530748fbfa95943e4  ...  complet understand youd want tri result report...
2  fe809672251f6bd0d986e00380f48d047c7e7b76  ...  interest target s1p15 receptor rather 15 like ...
3  bd22104dfa9ec80db4099523e03fae7a52735eb6  ...  interest grand merci wonder lemtrada ocrevus s...
4  b227688381f9b25e5b65109dd00f7f895e838249  ...  hi everybodi latest mri result brain cervic co...

[5 rows x 5 columns]

In [12]:
# reading data
df2 = pd.read_csv('test5.csv')
df2 = df2.dropna()
#df = df.reset_index(drop=True)
print('Shape of dataset ',df2.shape)
print(df2.columns)
#print('No. of unique classes',len(set(df['sentiment'])))

Shape of dataset  (2924, 3)
Index(['unique_hash', 'text', 'drug'], dtype='object')

In [19]:
#Text Preprocessing :- 

stop_words = set(nltk.corpus.stopwords.words('english'))
sno = nltk.stem.SnowballStemmer('english')

def cleanpunc(sentence):
    cleaned = re.sub(r"[?|!|\'|\"|#]", r"",sentence)
    cleaned =  re.sub(r"[.|,|)|(|\|/]",r"",cleaned)
    return cleaned.lower()

sentences = df2['text'].values
reviews = []
for sent in sentences:
    cleaned_sent = cleanpunc(sent)
    sent_arr = cleaned_sent.split()
    output_sent = ''
    for word in sent_arr:
        if word not in stop_words:
            stemmed_word = sno.stem(word)
            output_sent = output_sent + ' ' + stemmed_word
    reviews.append(output_sent)

reviews_text = pd.DataFrame({'reviews': reviews})
df2 = pd.concat([df2,reviews_text], axis=1)
df2.head()

                                unique_hash  ...                                            reviews
0  9e9a8166b84114aca147bf409f6f956635034c08  ...   256 previous stabl natalizumab 55% switch fin...
1  e747e6822c867571afe7b907b51f0f2ca67b0e1a  ...   fingolimod sinc decemb 2015; way describ bett...
2  50b6d851bcff4f35afe354937949e9948975adf7  ...   appar shingl :- red spot left breast appear d...
3  7f82ec2176ae6ab0b5d20b5ffc767ac829f384ae  ...   docetaxel week x3 week 1 week claim less hars...
4  8b37d169dee5bdae27060949242fb54feb6a7f7f  ...   cc stelara work matter day gi will jump hoop ...

[5 rows x 4 columns]

In [0]:
# Preprocessing
REPLACE_BY_SPACE_RE = re.compile('[/(){}\[\]\|@,;]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z #+_]')
STOPWORDS = set(stopwords.words('english'))

def clean_text(text):
    """
        text: a string
        
        return: modified initial string
    """
    text = text.lower() # lowercase text
    text = REPLACE_BY_SPACE_RE.sub(' ', text) # replace REPLACE_BY_SPACE_RE symbols by space in text. substitute the matched string in REPLACE_BY_SPACE_RE with space.
    text = BAD_SYMBOLS_RE.sub('', text) # remove symbols which are in BAD_SYMBOLS_RE from text. substitute the matched string in BAD_SYMBOLS_RE with nothing. 
    text = text.replace('x', '')
#    text = re.sub(r'\W+', '', text)
    text = ' '.join(word for word in text.split() if word not in STOPWORDS) # remove stopwords from text
    return text
df2['reviews'] = df2['reviews'].apply(clean_text)

In [22]:
df2.head()

                                unique_hash  ...                                            reviews
0  9e9a8166b84114aca147bf409f6f956635034c08  ...  256 previous stabl natalizumab 55 switch fingo...
1  e747e6822c867571afe7b907b51f0f2ca67b0e1a  ...  fingolimod sinc decemb 2015 way describ better...
2  50b6d851bcff4f35afe354937949e9948975adf7  ...  appar shingl red spot left breast appear day a...
3  7f82ec2176ae6ab0b5d20b5ffc767ac829f384ae  ...  docetael week 3 week 1 week claim less harsh e...
4  8b37d169dee5bdae27060949242fb54feb6a7f7f  ...  cc stelara work matter day gi jump hoop get pr...

[5 rows x 4 columns]

In [13]:
print('No. of samples in training set:', len(df))
print('No. of samples in test set    :', len(df2))

No. of samples in training set: 5279
No. of samples in test set    : 2924

In [0]:
# Train test split
from sklearn.model_selection import train_test_split
X_train, X_dev, y_train, y_dev = train_test_split(df['reviews'], df['sentiment'], test_size=0.25, stratify=df['sentiment'], 
                                                random_state=1)

In [0]:
# Feature extraction & Model building
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vect = TfidfVectorizer(analyzer='word', stop_words=None, token_pattern='(?u)\\b\\w\\w+\\b', ngram_range=(1, 1), max_df=1.0, 
                             min_df=3, max_features=None, binary=False, norm='l2', use_idf=True, smooth_idf=True, sublinear_tf=False)

In [0]:
X_train_tfidf = tfidf_vect.fit_transform(X_train)
X_dev_tfidf = tfidf_vect.transform(X_dev)

In [17]:
from sklearn.metrics import f1_score, accuracy_score
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import SGDClassifier
sgd = SGDClassifier(loss='log', max_iter=200, random_state=0, class_weight='balanced')
ovr = OneVsRestClassifier(sgd)
ovr.fit(X_train_tfidf, y_train)
y_pred_class = ovr.predict(X_dev_tfidf)
print('f1_score       :', f1_score(y_dev, y_pred_class, average='macro'))
print('accuracy score :', accuracy_score(y_dev, y_pred_class))

f1_score       : 0.49613237284953415
accuracy score : 0.6537878787878788

In [0]:
# Predict on test set

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vect = TfidfVectorizer(analyzer='word', stop_words=None, token_pattern='(?u)\\b\\w\\w+\\b', ngram_range=(1, 1), max_df=1.0, 
                             min_df=3, max_features=None, binary=False, norm='l2', use_idf=True, smooth_idf=True, sublinear_tf=False)

In [0]:
full_text = list(df['reviews'].values) + list(df2['reviews'].values)
tfidf_vect.fit(full_text)

X_train_tfidf = tfidf_vect.transform(df['reviews'])
X_test_tfidf = tfidf_vect.transform(df2['reviews'])

y_train = df['sentiment']

In [24]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import SGDClassifier
sgd = SGDClassifier(loss='log', max_iter=200, random_state=0, class_weight='balanced')
ovr = OneVsRestClassifier(sgd)
ovr.fit(X_train_tfidf, y_train)
y_pred_class = ovr.predict(X_test_tfidf)
y_pred_class

array([2, 1, 2, ..., 0, 2, 2])

In [26]:
df2['sentiment'] = y_pred_class
df2.drop(['text','drug'], axis=1,inplace=True)
df2.head()

                                unique_hash  ... sentiment
0  9e9a8166b84114aca147bf409f6f956635034c08  ...         2
1  e747e6822c867571afe7b907b51f0f2ca67b0e1a  ...         1
2  50b6d851bcff4f35afe354937949e9948975adf7  ...         2
3  7f82ec2176ae6ab0b5d20b5ffc767ac829f384ae  ...         2
4  8b37d169dee5bdae27060949242fb54feb6a7f7f  ...         2

[5 rows x 3 columns]

In [27]:
df2['sentiment'].value_counts()

2    1949
1     516
0     459
Name: sentiment, dtype: int64

In [0]:
df2.to_csv('submission7.csv', index=False)